body{
    padding: 0px;
    margin: 0px;
    background-image: url(ablum/OOOOOOO.png);
    

    
}
nav img{
    width: 4cm;
    height: 2cm;

}
nav{
    background-color: rgb(133, 21, 59) ;
    margin-bottom: 20px;
}
nav a{
    padding-left: 2cm;
    text-decoration: none;
    font-size: 20px;
    color: azure;
    
}
nav input{
    margin-bottom: 20px;
    margin-left: 1cm;
}
nav span a{
    color: rgb(128, 96, 16);
    text-decoration-line: underline;
}
nav a:hover{
    cursor: pointer;
    color: rgb(128, 96, 16);
    text-decoration-line: underline;
    
}
main .info{
   height: 6cm; 
}
footer{
    color: azure;
    background-color: rgb(133, 21, 59) ; 
    

}
footer  .fot{
    display: flex;
    margin-top: 1cm;
}
.one{
    width: 30%;
    border-right: groove 3px;
}
.two{
    width: 30%; 
    font-size: 40px;
    margin-top: 3cm; 
    margin-left: 1cm;
}
   

.threes{
    width: 30%;
    border-right: groove 3px;
    margin-left: 1cm;
}
.four img{
    width:4cm ;
    height: 4cm;
    border-radius: 150px;
    margin-top: 2cm;
}
main{
    height: 13cm;
}
.form input{
    width: 60%;
    height: 1cm;
    border-radius: 20px;
    background-color:plum;
}

.form{
    margin-top: 3cm;
}
.form button{
    width: 5cm;
    height: 1cm;
    background-color: palevioletred;
    border-radius: 20px;
}
.nom h1{
    color: rgb(51, 4, 20);
}
.nom h2{
    color: rgb(89, 16, 41);
}
.nom h3{
    color: rgb(96, 48, 64);
}