body{
    padding: 0px;
    margin: 0px;
    background-color: plum;
   

    
}
nav img{
    width: 4cm;
    height: 2cm;

}
nav{
    background-color: rgb(133, 21, 59) ;
    margin-bottom: 20px;
}
nav a{
    padding-left: 2cm;
    text-decoration: none;
    font-size: 20px;
    color: azure;
    
}
nav input{
    margin-bottom: 20px;
    margin-left: 1cm;
}

nav a:hover{
    cursor: pointer;
    color: rgb(128, 96, 16);
    text-decoration-line: underline;
}
main img{
    width: 13cm;
    height: 11cm;
    margin: 1cm;
   border-radius: 10px;
}
.gra{
    display: flex;
    text-align: center;

}
.prim{
    width: 45%;
    border: 3px;

}
.sec{
    width: 45%; 
}
.gro{
    display: flex;
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;

}
.tri{
    width: 45%;
    border: 3px;

}
.qua{
    width: 45%;
    border: 3px;
}
button{
    width: 4cm;
    height: 1cm;
}
footer{
    color: azure;
    background-color: rgb(133, 21, 59) ; ;
    padding-top: 3px;
   

}
footer  .fot{
    display: flex;
    margin-top: 1cm;
}
.one{
    width: 30%;
    border-right: groove 3px;
}
.two{
    width: 30%; 
    font-size: 40px;
    margin-top: 3cm; 
    margin-left: 1cm;
}
   

.threes{
    width: 30%;
    border-right: groove 3px;
    margin-left: 1cm;
}
.four img{
    width:4cm ;
    height: 4cm;
    border-radius: 150px;
    margin-top: 2cm;
}
